$breakpoints: (
  "smallphone": (
    max-width: 575.98px
  )
);

@mixin breakpoint-down($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

.sign-in {
  width: 30%;
  padding: 0px 70px;

  h2 {
    color: rgb(8, 8, 8);
    margin-top: 10px;
    margin-bottom: 0;
  }

  span {
    display: block;
    font-size: 19px;

    font-weight: 300;
    margin-bottom: 19px;
  }

  button:not(:last-child) {
    margin-right: 6px;
  }

  button:last-child {
    background: none;
    border: 0;
    color: rgb(218, 35, 35);
  }

  @include breakpoint-down(smallphone) {
    width: 100%;
    padding: 0;
  }
}
