$breakpoints: (
  "smallphone": (
    max-width: 575.98px
  )
);

@mixin breakpoint-down($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  }
}

.collection-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 23vw;
  height: 300px;
  margin-bottom: 20px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 5px 0 5px rgb(190, 190, 190);
    .custom-button {
      display: block;
    }
  }

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    font-size: 18px;

    .name {
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
  }

  .custom-button {
    position: absolute;
    display: none;
    bottom: 9%;
    width: 92%;
    opacity: 0.8;
  }

  @include breakpoint-down(smallphone) {
    width: 48%;
    height: 250px;
  }
}
