$breakpoints: (
  "smallphone": (
    max-width: 575.98px
  )
);

@mixin breakpoint-down($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  }
}

.collection-page {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Condensed";

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    & .collection-item {
      width: 100%;
      margin-bottom: 30px;
    }

    @include breakpoint-down(smallphone) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
